* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: black;
  height: 10000px;
}

.home {
  position: relative;
  height: 670px;
  flex-direction: row;
  z-index: 1;
}
.home_img {
  height: 680px;
  width: 100%;
  background-position: center;
  background-size: cover;
  border: 8px solid black;
  z-index: 0;
  opacity: 0.8;
  position: absolute;
}

.img_sun {
  position: absolute;
  left: 77px;
  top: 70px;
  width: 50px;
  filter: brightness(0) saturate(100%) invert(83%) sepia(100%) saturate(3307%)
    hue-rotate(99deg) brightness(101%) contrast(100%);
}

.div_explain {
  position: relative;
  width: 500px;
  height: 30px;
}

.Rating-word {
  font-size: 60px;
  color: #00ffff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.explain_1 {
  position: absolute;
  color: white;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  top: 100px;
  left: 70px;
}

/*----------------------------------------------------------------------------------------*/

#Games {
  height: 3000px;
  background-color: black;
}

.explain_games {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 40px;
  text-align: center;
  height: 300px;
  align-content: center;
}

.all_games {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 100px;
  column-gap: 200px;
}

.game {
  height: 350px;
  width: 250px;
  position: relative;
}
.pic-game {
  height: 350px;
  width: 250px;
  border-radius: 20px;
}

/* .explain_dbd{
   position: absolute;
   background-color: black;
   color: white;
   font-size: x-small;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center;
} */

.pic-game:hover {
  cursor: pointer;
  height: 370px;
  width: 270px;
  transition: 100ms;
}
